page-groups {

    .background {
        background-image: url('../../assets/imgs/back.png');
    }
    *{
        direction: rtl;
        
    }
    .profile-image{
            
        img{
           
        }
    }
    img {
        height: 100px !important ;
        width: 100px !important;
        border-radius:50% !important;
        border: 10px solid #f5f53b !important;
        -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75) !important;
        -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75) !important;
        box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75) !important;
        
    }

    .item-md{
        border: 3px solid #f5f53b !important;
    }
    .button-inner{
        color: white;
    }
}

